.navbar-custom {
    background-color: blue; /* Changez cette couleur en celle de votre choix */
    /* Autres styles personnalisés ici */
  }
  
  .navbar-custom a.nav-link {
    color: white; /* Changez la couleur du texte en blanc ou une autre couleur de texte qui contraste bien avec le bleu */
  }
  
  .navbar-custom a.nav-link:hover {
    color: yellow; /* Changez la couleur du texte au survol si nécessaire */
  }