<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Appender pour les logs 'read' -->
    <appender name="READ_LOG" class="ch.qos.logback.core.FileAppender">
        <file>logs/read.log</file>
        <encoder>
            <pattern>{"timestamp": "%date{yyyy-MM-dd'T'HH:mm:ss.SSS}", "level": "%level", "logger": "%logger",  "file": "%file", %msg}\n</pattern>
        </encoder>
    </appender>

    <!-- Appender pour les logs 'write' -->
    <appender name="WRITE_LOG" class="ch.qos.logback.core.FileAppender">
        <file>logs/write.log</file>
        <encoder>
            <pattern>{"timestamp": "%date{yyyy-MM-dd'T'HH:mm:ss.SSS}", "level": "%level", "logger": "%logger",  "file": "%file", %msg}\n</pattern>
        </encoder>
    </appender>

    <!-- Appender pour les logs 'price' -->
    <appender name="PRICE_LOG" class="ch.qos.logback.core.FileAppender">
        <file>logs/price.log</file>
        <encoder>
            <pattern>{"timestamp": "%date{yyyy-MM-dd'T'HH:mm:ss.SSS}", "level": "%level", "logger": "%logger",  "file": "%file", %msg}\n</pattern>
        </encoder>
    </appender>

    <!-- Configuration des loggers -->
    <logger name="readLogger" level="INFO">
        <appender-ref ref="READ_LOG"/>
    </logger>
    <logger name="writeLogger" level="INFO">
        <appender-ref ref="WRITE_LOG"/>
    </logger>
    <logger name="priceLogger" level="INFO">
        <appender-ref ref="PRICE_LOG"/>
    </logger>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
